{% extends "base.html" %}

{% block title %}Password Recovery{% endblock %}

{% block body %}

<main>
  <section class="main-section">
    <div class="container">
      <div class="row text-center justify-content-center align-items-center">
        <div class="col-12 col-md-6 ">
          <div class="left-side-wrap">
            <header>
              <div class="logo">
                <h1>E-WALLET</h1>
              </div>
              <h5>Simple way to manage personal finances.</h5>
              <h5>Track your expenses and incomes.</h5>
              <h5>View period time summaries.</h5>
            </header>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form">
            <form  action = "/password/request-reset" class="p-4 bg-white rounded" style="max-width: 70%;" method ="post">
              <div class="row text-center justify-content-center align-items-center">
                <div class="col-10 my-3">
                  <h5>Password recovery</h5>
                </div>
                <div class="col-10 my-2">
                  <input type="email" class="form-control" name="email" placeholder="Enter email"
                      value="{{user.email}}" required>
              </div>
              <div class="col-10 my-1" style = "color: green; text-align: center;">
                  Request has been sent. <br> Please check your email address.
              </div>
                <div class="col-10 my-3">
                  <button type="submit" name = "submit" class="col-12 btn btn-primary btn-block my-2">Send request</button>
                </div>
                <p class="my-3">Don't have an account?</p>
                <div class="col-10">
                  <a href="/register"><button type="button" class="col-10 btn btn-primary">Create
                      Account</button></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="row text-center m-0">
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Manage finances</h6>
    </div>
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Save money</h6>
    </div>
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Track expenses</h6>
    </div>
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Track incomes</h6>
    </div>
  </div>
</footer>

    

{% endblock %}
