{% extends "base.html" %}

{% block title %}Login{% endblock %}

{% block body %}


<div class="alert alert-success" style = "text-align:center;" role="alert">
  User successfully activated! You can log in and use our website!
</div>

<main>
  <section class="main-section">
    <div class="container">
      <div class="row text-center justify-content-center align-items-center">
        <div class="col-12 col-md-6 ">
          <div class="left-side-wrap">
            <header>
              <div class="logo">
                <h1>E-WALLET</h1>
              </div>
              <h5>Simple way to manage personal finances.</h5>
              <h5>Track your expenses and incomes.</h5>
              <h5>View period time summaries.</h5>
            </header>
          </div>
        </div>
        <div class="col-12 col-md-6">
          <div class="form">
            <form  action = "/login/create" class="p-4 bg-white rounded" style="max-width: 70%;" method ="post">
              <div class="row text-center justify-content-center align-items-center">
                <div class="col-10 my-2">
                  <input type="text" class="form-control" id="login" placeholder="Enter login" name = "login" value = "{{ login}}" required>
                </div>
                <div class="col-10 my-2">
                  <div class="password-wrapper">
                    <input type="password" class="form-control" id="password" name = "password" placeholder="Enter password" required >
                    <span><i id="toggler" class="icon-eye"></i>
                  </div>
                </div>
                <div class="col-10">
                  <label for="remember_me">
                    Remember me
                    <input type="checkbox" id = "remember_me" name ="remember_me" {% if remember_me %} checked = "checked" {% endif %}>
                  </label>
                </div>
                <div class="col-10">
                  <button type="submit" name = "submit" class="col-12 btn btn-primary btn-block my-2">Log In</button>
                </div>
                <div class="col-10 my-3">
                  <button type="button" class="btn btn-link border-bottom"><a href="/password/forgot">Forgot
                      password?</a></button>
                </div>
                <p class="my-2">Don't have an account?</p>
                <div class="col-10">
                  <a href="/register"><button type="button" class="col-10 btn btn-primary">Create
                      Account</button></a>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </section>
</main>

<footer>
  <div class="row text-center m-0">
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Manage finances</h6>
    </div>
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Save money</h6>
    </div>
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Track expenses</h6>
    </div>
    <div class="col-12 col-md-3">
      <i class="icon-ok-circled2"></i>
      <h6>Track incomes</h6>
    </div>
  </div>
</footer>


{% endblock %}
